.hero-unit
  %h1 Workout tracking, for free, forever
  %p crushthewod is dead-simple workout tracking.
  %p
    %a.btn.btn-primary.btn-large{:href => new_user_path} Sign up for free now »
.row
  .span4
    %h2 Log via text message.
    %p crushthewod is designed to be simple enough to replace your paper workout journal. Log all of your workouts with one text message.
  .span4
    %h2 View your progress.
    %p No more flipping through notebook after notebook to find your current PR for today's WOD. Access all of your results quickly and track your progress over time.
  .span4
    %h2 Share your workouts.
    %p Let your friends know when you create a killer workout or hit a PR.
%hr/
%footer
  %p © tapviva, Inc. 2013